.welcome-message {
  width: 90%;
  margin: 3rem auto;
  text-align: center;
  & p {
    font-size: 2rem;
    color: rgb(24, 110, 106);
  }
}
/* .user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  & li {
    margin-left: 2rem;
    padding: 0.5rem 0;
    & a {
      color: gray;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: rgb(24, 110, 106);
      }
    }
    & p {
      color: rgb(24, 110, 106);
      font-weight: 600;
    }
  }
} */
