<div class="modal">
  <form class="modal-form">
    <div>
      <label>نام :</label><br />
      <input
        reversed
        #nameInput
        type="text"
        [value]="user?.name"
        (change)="persianHandler1(nameInput)"
      />
      <span class="type-error" *ngIf="isTypeError1"
        >نام باید شامل حروف فارسی یا فاصله باشد</span
      >
    </div>
    <div>
      <label>نام خانوادگی :</label><br />
      <input
        #familyInput
        type="text"
        [value]="user?.family"
        (change)="persianHandler2(familyInput)"
      />
      <span class="type-error" *ngIf="isTypeError2"
        >نام خانوادگی باید شامل حروف فارسی یا فاصله باشد</span
      >
    </div>
    <div>
      <label>تاریخ تولد :</label><br />
      <input
        #birthdayInput
        type="text"
        [value]="user?.birthDay ? user?.birthDay : ''"
      />
    </div>
    <div>
      <label>آدرس :</label><br />
      <input #cityInput type="text" [value]="user?.city" />
    </div>
    <div>
      <label>کد ملی :</label><br />
      <input #codeMeliInput type="text" [value]="user?.codeMeli" />
    </div>
    <div>
      <label>نام کاربری :</label><br />
      <input #usernameInput type="text" [value]="user?.username" />
    </div>
    <div>
      <label>رمز عبور :</label><br />
      <input #passwordInput type="text" [value]="user?.password" />
    </div>
    <div style="text-align: center">
      <button
        (click)="
          saveChange(
            $event,
            nameInput.value,
            familyInput.value,
            birthdayInput.value,
            cityInput.value,
            +codeMeliInput.value,
            usernameInput.value,
            passwordInput.value
          )
        "
        class="btn saveModal-btn"
        type="submit"
      >
        ذخیره تغییرات
      </button>
      <button class="close" (click)="closeModal($event)">❌</button>
    </div>
  </form>
</div>
